* {
    margin: 0;
    padding: 0;
}
body{
    background-color: #757575;
}
img {
    width: 50px;
}
.pfp {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: blue;
    padding: 5px;
    position: absolute;
    top: 10px;
    left: 57px;
}
.top{
    width: 230px;
    height: 100px;
    background-color: blue;
    position: relative;
}   
.bottom{
    width: 230px;
    background-color: #fff;
}
.icon{
    display: flex;
}
